.modal {
  display: none;
  position: fixed;
  z-index: inherit 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  width: 29%;
  height: 45%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-sum {
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
}
.container-input-sum{
  margin-top: 15px;
}

.button-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
}
.input-card {
  padding: 0.5rem;
  font-size: 1.7rem;
  border: none;
}

.button-modal {
  background: rgb(219, 198, 104);
  color: white;
  border: 0;
}

.button-modal:hover {
  background: rgb(109, 180, 109);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  overflow: auto;
}

.label{
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


